
h1 {
  font-family: PT Sans Narrow;
  font-weight: bold;
  font-size: 1.875em;
  color: #323232;
}

h2 {
  font-family: PT Sans Narrow;
  font-weight: bold;
  font size: 1.5em;
  color: #00897f;
  font-size: uppercase;
}
h3 {
  font-family: PT Serif Regular;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  text-align: left;
}
p {
  font-family: PT Serif Regular;
  font-size: .875em;
  line height: 1.75em;
  color:#323232;
}
a {
  font-family: PT Serif;
  font-weight: Bold;
  line-height: 1em;
  font size: normal;
  color: #f26522
}

nav h1 {
font-family:  PT Sans Narrow;
font-weight: Bold;
line-height: 1em;
font size:normal;
color: #323232;
}

}
body {
  margin: 0;
}
#title {
display: inline-block;
}
nav ul {
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
  float: right;

}
nav li {
  display: inline-block;
}
.splash img {
  width: 100%;
  padding: 20px;
}
.main {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.container {
  text-align: center;
  margin: 80px;
  }

 .about {
   display: inline-block;
   vertical-align: top;
   width: 200px;
   height: 200px;
   padding: 25px;
   background-color: #eeeeee;
}
 .about p {
   text-align: left;

 }

 .about + .about {
   margin-left: 15%; margin-right: 15%;

 }
 .triplecats img {
   width: 25%;
   padding: 25px;
   border-radius: 50%;
 }
 .touch {
  text-align: center;
  margin: 80px 45px 100px
  vertical-align: top;
  background-color: lightgrey;
}
.business-info {
  display: inline-block;
  margin: 45px 200px 80px 200px;
  background-color: lightgrey;
}
.contact-biz {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  width: 250px;
  height: 200px;
  padding: 25px;
  background-color: white;
  margin-right: 60px;
  }

.contact-address {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  width: 250px;
  height: 200px;
  padding: 25px;
  background-color: white;
  margin-left: 60px;

  }
  .contact-address span {
  color: #f26522;
  }
  #city {
    padding-left: 78px;
  }
   footer {
    text-align: center;
    background-color: #00897f;
    height: 125px;

  }
  footer h1 {
    color: white;
    padding-top: 42px;
  }
